# This is a .gitignore template. You may add new own entries for your own development environment.
# please create a .gitignore file in your project root.
# Please do not check in files in 
/.settings/
/.sts4-cache/
/target/
/logs/
/outDiffs/
/testOutput/
/.classpath
/bin/
/.factorypath
/.checkstyle
/.gitignore
/src/test/java/META-INF/MANIFEST.MF
*.bak
*.class
*.tmp
nppBackup

/.vscode/
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/